*,
*::before,
*::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-size: 13px;
    font-family:"Barlow Semi Condensed", sans-serif;
    color: $light-grayish-blue;
}

p{

    opacity: 0.7;
    font-size: 1rem;
    line-height: 1.4;
    width: 97%;
     @media (max-width: 700px){
        font-size: 1rem;
    }
}
span{
    // color: $light-grayish-blue;
    opacity: 0.5;
    font-size: 1rem;
}
h2{
    font-size: 1.2rem;
    @media (max-width: 700px){
        font-size: 1.6rem;
        
    }
    
}

h4{
    font-size: 1.1rem;
     @media (max-width: 700px){
        font-size: 1rem;
    }
}



@mixin desktop{
    @media(min-width: 60em){
        @content;
    }
}