*,
*::before,
*::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-size: 13px;
    color: $light-grayish-blue;
}

p{

    opacity: 0.7;
    font-size: 1.1rem;
    line-height: 1.4;
    width: 97%;
}
span{
    // color: $light-grayish-blue;
    opacity: 0.5;
    font-size: 1rem;
}
h2{
    font-size: 1.647rem;
    
}

h4{
    font-size: 1.1rem;
}

@mixin mobile {
    @media (max-width:600px){
        @content;
    }
}

@mixin tablet {
    
    @media(min-width: 40em){
        @content;
    }
}


@mixin desktop{
    @media(min-width: 60em){
        @content;
    }
}